.feedback{
    margin-bottom: 180px;

    @include mediaTablet {
		padding-bottom: 90px;
	}
}
.feedback__title{
    margin-bottom: 38px;

    @include mediaTablet {
		margin-bottom: 19px;
	}
}
.feedback__form-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 колонки в ряд
    grid-gap: 30px;
    align-self: center;

    @include mediaTablet {
	    grid-template-columns: 1fr;
	}
}

